{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

{{ if $data.supply.pricing.enable }}
{{ with $data.supply.pricing }}
<section class="pricing-table section bg-gray">
  <div class="container">
    
      <!-- single pricing table -->
      {{ range $index, $element := .pricing_table }}
      {{if mod $index  3 eq 0}}
      <div class="row">
      {{ end }}
      <div class="col-md-4 col-sm-6 col-xs-12">
        {{mod $index  3}}
        <div class="pricing-item text-center">
          <div class="price-title">
            <h3>{{ .name }}</h3>
            <strong class="value">{{ .price }}</strong>
            <p>{{ .content | markdownify }}</p>
          </div>
          <ul>
            {{if .services}}
              {{ range .services }}
                <li>{{ . | markdownify }}</li>
              {{ end }}
            {{end}}
          </ul>
          <a class="btn btn-small" href="{{ .link | safeURL }}">{{ i18n "buy_now" }}</a>
        </div>
      </div>
      {{if mod $index  3 eq 0}}
        </div>
      {{ end }}  
      {{ end }}
      <!-- end single pricing table -->
    
  </div>
</section>
{{ end }}
{{ end }}

<!-- Call to action -->
{{ if $data.supply.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}